<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLAM BOOK</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">

    <style>
        body{
            font-family: 'Berkshire Swash', cursive;
            font-size: 250%;
            text-align: center;
            background-color: aliceblue;
        }

        .navigation{
            margin-top: 2%;
            font-size: 150%;
            padding: 1%;
        }

        ul{
            margin-top: -0.5%;
            margin-right: -0.5%;
            margin-left: -1%;
            list-style-type: none;
            background-color: rgb(0, 255, 128);

        }

        a{
            background-color: rgb(255, 0, 0);
            font-size: 70%;
            text-decoration: none;
            text-align: center;
            margin-left: 30px;
            margin-right: 40px;
            padding: 1rem;
            border-width: 4px;
            border-style: solid;
        }

        a:hover{
            background-color: aqua;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="navigation">
        <a href="/register">REGISTER</a>
        <a href="/login">LOGIN</a>
    </div>
    
    <h3>Welcome to NITT Slam Book</h3>
    
    <h4>Use the search bar to find your friends</h4>
    
    <p>If it's your first time here make sure you login to know about your colleages</p>
</body>
</html>

